/* App.css */

body {
  font-family: Arial, sans-serif;
}

.folder,
.file {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.folder {
  background-color: #f9f9f9;
}

.file {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.folder-name,
.file-name {
  cursor: pointer;
}

.folder-contents {
  margin-left: 20px;
}

.file-icon svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
